.cursor {
  display: flex;
  position: fixed;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #fff;
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease;
}

.cursor {
  display: flex;
  position: fixed;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #fff;
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease;
}

.cursor {
  display: flex;
  position: fixed;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #fff;
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease;
}

.header {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
  padding: 0 1rem;
  margin: 1rem auto;
}
@media screen and (max-width: 1000px) {
  .header {
    padding: 1.1rem;
    align-items: center;
  }
}
.header-brand {
  color: #FFF;
  font-size: 3rem;
}
.header-brand svg {
  height: 32px;
  color: #FFF;
}
.header-brand svg:hover {
  color: #5d5d5d;
}
@media screen and (max-width: 1000px) {
  .header-brand {
    font-size: 1rem;
  }
}
.header-navbar ul {
  display: flex;
  align-items: center;
  align-items: center;
  height: 100%;
}
.header-navbar ul li {
  margin: 0 1rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.header-navbar ul li .active {
  color: #5d5d5d;
}
.header-navbar ul li a:hover {
  color: #5d5d5d;
}
.header-social-media ul {
  display: flex;
  align-items: center;
  height: 100%;
  display: flex;
  gap: 1rem;
}
.header-social-media ul li {
  margin: 0 1rem;
}
.header-social-media ul li a:hover {
  color: #FFF;
}

.cursor {
  display: flex;
  position: fixed;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #fff;
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease;
}

.apresentation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 6.3rem);
  text-align: center;
  flex-direction: column;
  gap: 3rem;
}
@media screen and (max-width: 1000px) {
  .apresentation {
    height: calc(100vh - 5rem);
  }
}
.apresentation-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  z-index: -100;
  margin: auto 0;
}
.apresentation-text-regular {
  font-weight: 500;
  font-size: 1rem;
}
.apresentation-text-bold {
  font-weight: 600;
  font-size: 1.25rem;
}
.apresentation h1 {
  font-weight: 700;
  font-size: 2.5rem;
  color: #5d5d5d;
}
.apresentation-arrows i {
  color: #5d5d5d;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
}

.cursor {
  display: flex;
  position: fixed;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #fff;
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease;
}

.tecnologies {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 6.3rem);
}
.tecnologies-icons {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.tecnologies-icons i {
  padding: 1rem 0;
  font-size: 2.6rem;
}
.tecnologies-icons i:hover {
  transform: rotateY(360deg);
  transition: 1s;
}

.cursor {
  display: flex;
  position: fixed;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #fff;
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: url("../sizzle.gif");
  z-index: 100;
}
.projects-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  gap: 1rem;
}
@media screen and (max-width: 1000px) {
  .projects-list {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3000px;
  }
}
.projects-list-card {
  flex: 1;
  height: 600px;
  padding: 1rem;
}
@media screen and (max-width: 1400px) {
  .projects-list-card {
    height: 300px;
  }
}
@media screen and (max-width: 1000px) {
  .projects-list-card {
    height: 300px;
    width: 100%;
  }
}
.projects-list-card-info {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  color: #FFF;
  margin: 0 auto;
}
.projects-list-card-info-list {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.projects-list-card-info-list li {
  padding: 0.5rem;
  background: #000;
}
@media screen and (max-width: 1000px) {
  .projects-list-card-info {
    width: 90%;
    margin-bottom: 6%;
  }
}
.projects-list-card-info-btn {
  color: #FFF;
  background-color: #5d5d5d;
  font-weight: 600;
  padding: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.projects-list-card.active {
  transform: scale(0.9);
  color: #000;
  background-color: #5d5d5d;
}
.projects-list-card.active.active .projects-card-info {
  display: flex;
}
.projects #card-1 {
  background-image: url("../img/atena.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
.projects #card-1.active {
  background-size: 110%;
  filter: grayscale(0%);
  cursor: pointer;
  background-image: linear-gradient(rgba(0, 0, 0, 0.426), rgba(0, 0, 0, 0.5)), url("../img/atena.jpg");
}
.projects #card-2 {
  background-image: url("../img/coffee-delivery.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
.projects #card-2.active {
  background-size: 110%;
  filter: grayscale(0%);
  cursor: pointer;
  background-image: linear-gradient(rgba(0, 0, 0, 0.426), rgba(0, 0, 0, 0.5)), url("../img/coffee-delivery.png");
}
.projects #card-3 {
  background-image: url("../img/ideal.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
.projects #card-3.active {
  background-size: 110%;
  filter: grayscale(0%);
  cursor: pointer;
  background-image: linear-gradient(rgba(0, 0, 0, 0.426), rgba(0, 0, 0, 0.5)), url("../img/ideal.jpg");
}
.projects #card-4 {
  background-image: url("../img/coffee-house.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
.projects #card-4.active {
  background-size: 110%;
  filter: grayscale(0%);
  cursor: pointer;
  background-image: linear-gradient(rgba(0, 0, 0, 0.426), rgba(0, 0, 0, 0.5)), url("../img/coffee-house.jpg");
}
.projects #card-5 {
  background-image: url("../img/idy-program.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
.projects #card-5.active {
  background-size: 110%;
  filter: grayscale(0%);
  cursor: pointer;
  background-image: linear-gradient(rgba(0, 0, 0, 0.426), rgba(0, 0, 0, 0.5)), url("../img/idy-program.jpg");
}
.projects #card-6 {
  background-image: url("../img/ignite-feed.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
.projects #card-6.active {
  background-size: 110%;
  filter: grayscale(0%);
  cursor: pointer;
  background-image: linear-gradient(rgba(0, 0, 0, 0.426), rgba(0, 0, 0, 0.5)), url("../img/ignite-feed.png");
}
.projects #card-7 {
  background-image: url("../img/vision-gallery.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
.projects #card-7.active {
  background-size: 110%;
  filter: grayscale(0%);
  cursor: pointer;
  background-image: linear-gradient(rgba(0, 0, 0, 0.426), rgba(0, 0, 0, 0.5)), url("../img/vision-gallery.png");
}

* {
  font-family: "Courier Prime";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background: url("/img/sizzle.gif");
  color: #a9a9a9;
  cursor: none;
}
body a {
  color: #a9a9a9;
  text-decoration: none;
  transition: 0.4s;
}
body ul {
  list-style: none;
}

main {
  position: relative;
  top: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 1rem;
}

.paralax {
  position: fixed;
  width: 100%;
}

footer {
  text-align: center;
  padding: 2rem;
}
footer span {
  color: #5d5d5d;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #5d5d5d;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
