@use 'variables'
@use 'mixins'
@use 'cursor'

@import 'header'
@import 'apresentation'
@import 'tecnologies'
@import 'projects'

*
    font-family: 'Courier Prime'
    padding: 0
    margin: 0
    box-sizing: border-box

body
    display: flex
    flex-direction: column
    background: url('/img/sizzle.gif')
    color: variables.$text-color
    cursor: none

    a
        color: variables.$text-color
        text-decoration: none
        transition: .4s
    ul
        list-style: none

main
    position: relative
    top: 100vh
    display: flex
    flex-direction: column
    gap: 2rem
    margin: 0 1rem

.paralax
    position: fixed
    width: 100%

footer
    text-align: center
    padding: 2rem
    
    span
        color: variables.$secondary-color

h2
    font-weight: 700
    font-size: 1.5rem
    color: variables.$secondary-color
    text-align: center